mixin svg(args)
  svg&attributes(attributes)
    use(xlink:href=`#${args.name}`)

mixin section-1-slide(args)
  li.section-1__slider-item.swiper-slide
    .section-1__slider-item-top
      .section-1__slider-item-image
        img(src="assets/" + args.img, alt=args.name)
      .section-1__slider-item-name= args.name
    .section-1__slider-item-button-wrap
      a.section-1__slider-item-button.button.button--round(href="water.html") Смотреть

mixin footer-social-item(args)
  li.footer__socials-item
    a(href=args.link).footer__socials-link
      +svg({name: args.icon})


mixin water-bottle(args)
  a().water__bottle
    .water__bottle-image
      img(src="assets/" + args.img, alt=args.name)
    .water__bottle-title= args.name


mixin time-bottle(args)
  a().time__bottle
    .time__bottle-image
      img(src="assets/" + args.img, alt=args.name)
    .time__bottle-title= args.name


mixin product-water(args)
  a(href="water.html").products__water
    .products__water-bg
      img(src="assets/products-water-bg.png", alt="")
    .products__water-title 
      | Природная 
      br 
      | минеральная вода
    .products__water-image
      img(src="assets/products-water-img.png", alt="")


mixin product-time(args)
  a(href="time.html").products__time
    .products__time-bg
      img(src="assets/products-time-bg.png", alt="")
    .products__time-bg-2
      img(src="assets/products-time-bg-2.svg", alt="")
    .products__time-title Сарова Time
    .products__time-subtitle лимон / апельсин / грейфрут
    .products__time-image
      img(src="assets/products-time-img.png", alt="")


mixin product-classic(args)
  a(href="classic.html").products__classic
    .products__classic-bg
      img(src="assets/products-classic-bg.png", alt="")
    .products__classic-title 
      | Восемь 
      br
      | классических
      br
      | лимонадов
    .products__classic-image 
      img(src="assets/products-classic-img-01.png", alt="").products__classic-image--01
      img(src="assets/products-classic-img-02.png", alt="").products__classic-image--02


mixin classic-block(args)
  .classic__block(class="classic__block--"+args.class)
    .classic__block-num= args.num
    .classic__block-image
      img(src="assets/classic-block-" + args.class + ".png", alt=args.title)
    .classic__block-content
      .classic__block-title= args.title
      .classic__block-text= args.text


mixin company-grid-item(args)
  div
    .company__grid-item
      .company__grid-item-title= args.title
      .company__grid-item-text= args.text

mixin video(args)
  video(src=args.media, controls, playsinline, uk-video="autoplay:false", poster=args.poster, class=args.class )

mixin history-row(args)
  .history__table-row
    .history__table-year= args.year
    .history__table-title= args.title 
    .history__table-desc= args.desc

mixin acheivement-item(args)
  a(href="assets/" + args.img).acheivements__item
    .acheivements__item-title= args.title
    .acheivements__item-desc= args.desc

mixin acheivement-award(args)
  div
    .acheivements__awards-item
      .acheivements__awards-item-image
        img(src="assets/" + args.img, alt="")
      .acheivements__awards-item-title= args.title

mixin news-item(args)
  div
    a.news__item(uk-toggle="target: #news-" + args.number)
      .news__item-date
        .news__item-day= args.day
        .news__item-month= args.month
      .news__item-content
        .news__item-title= args.title
        .news__item-desc= args.desc
    div(uk-modal, id="news-" + args.number)
      .uk-modal-dialog.news__modal-body
        button.uk-modal-close.news__modal-close
          +svg({name: 'close'})
        .news__modal-date= args.date
        .news__modal-title= args.title
        .news__modal-img
          img(src="assets/news-modal-01.jpg", alt="")
        .news__modal-text
          p «Инновация» — первая и наиболее авторитетная российская награда в области современного искусства.
          p Государственная премия «Инновация» была учреждена в 2005 году. В 2019 году премия будет вручена видным деятелям культуры в четырнадцатый раз.
          p Премия проводится Государственным центром современного искусства (ГЦСИ) в составе Государственного музейно-выставочного центра «РОСИЗО» под эгидой и при финансовой поддержке Министерства культуры Российской Федерации.
          p Миссия премии — поддержка авторов, работающих в области современного искусства, выявление важнейших художественных достижений и привлечение к ним внимания широкой общественности